@import "../../styles/variables.scss";

.mainContainer{
    display: flex;
}

.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logoImageOnboarding{
    // position: absolute;
    width: 101px;
    height: 30.77px;
    margin-left: 32px;
}
.rightImageOnboarding{
    height: auto;
    width: auto;
}

@media (max-width : 700px){
    .rightImageOnboarding{
        display: none;
    }
}
@media (max-width : 550px){
    .logoImageOnboarding{
        margin-left:30%;
    }
}