@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import "../../styles/index.scss";

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
}

.sidebar button{
  font-size: 30px;
  display: flex;
  margin-bottom: 20px;
}
.sidebar.closed {
  width: 50px; 
  .img{
    margin-left:8px;
  }
}

.buttonToggleSideBar{
  position:fixed;
  bottom: -10px !important;
  left:0 !important;
}

.headerSideBar, .bottomSideBar{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.profileContainer a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px 10px;
}
hr { 
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  border: 1px inset #424;
} 

.profileImg, .notificationBell{
  font-size: 30px;
  margin-bottom: 5px;
}


.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  
}

.menuItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin: 20px 0;
  span{
    margin: 0 auto;
  }
}

.img {
  font-size:30px;
  margin-left:20px;
}

.menuItem span {
  display: block;
}

.bottomSideBar a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin:40px 10px 20px 10px;
}