@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

div a {
    text-decoration: none;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include medium {
        min-width: 135px;
    }

    @include small {
        min-width: 226px;
    }

    margin:0px auto;
}

// main container
.containerAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px 32px 32px;
}

.contentContainerForm {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;

    width: 415px;
    height: 250px;
    min-width: 150px;
}

.form {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 415px;
    height: 246px;
    min-width: 150px;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.formTitle {
    padding: 0px;
    gap: 4px;

    width: 415px;
    height: 58px;

    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.title {

    font-size: $font-h4;
    font-weight: $font-bold;

    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.subTitle {
    color: $color-gray-300;
    font-size: $font-body-small;
    font-weight: $font-semibold;

}

.formInput {
    padding: 0px;
    gap: 28px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.authError {
    color: $color-alert-400;
    font-size: $font-body-small;
    width: 415px;
}

.rememberMe {

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 415px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.checkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    cursor: pointer;

}

.textRememberMe {
    font-size: $font-body-small;
    font-weight: $font-medium;
    width: 97px;
    height: 18px;
    text-align: center;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 0;
}

.textpwdInfo {
    width: 415px;
    height: 20px;
    font-size: $font-body-tiny;
    font-weight: $font-regular;
    line-height: 20px;
    color: $color-gray-500;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.forgotPassword {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    width: 294px;
    height: 22px;


    flex: none;
    order: 1;
    flex-grow: 1;

}

.textForgotPassword {
    height: 22px;

    font-weight: $font-semibold;
    font-size: $font-body-small;
    cursor: pointer;

    flex: none;
    order: 0;
    flex-grow: 0;
}


// login button, login with google, signup option
.contentContainerAuthOptions {
    padding: 0px;
    gap: 24px;

    width: 415px;
    height: 142px;
    min-width: 150px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contentContainerButtons {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 415px;
    height: 96px;

    Button,
    .formInput Button {
        margin-top: 50px;
    }
}

.contentContainerAuthEndForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0px;
    gap: 4px;

    width: 415px;
    height: 80px;

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 36px;

}

.authRegister {
    margin-top: -35px;
}

.textAuthEndForm {
    font-size: $font-body-small;
    font-weight: $font-semibold;
    line-height: 22px;
    align-items: center;

    span {
        color: $color-primary-400;
        cursor: pointer;
    }
}

@media (max-width : 860px) {
    .authError {
        font-size: $font-body-tiny;
    }

    .rememberMe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .forgotPassword {
        justify-content: center;
    }


    .contentContainerButtons {

        Button,
        .formInput Button {
            padding: 9px;
        }
    }

    .textAuthEndForm {
        margin-top: -15px;
    }

    .authRegister {
        margin-top: -10px;
    }
}

@media (max-width : 550px) {

    .formInput button {
        margin-bottom: 15px;
    }


    .formInput {
        margin-top: 20px
    }

    .rememberMe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .forgotPassword {
        justify-content: center;
    }

    .contentContainerButtons Button,
    .formInput Button,
    .formInput input {
        padding: 2px;
        padding-left: 5px;
    }
}

@media (max-width : 252px) {
    .formInput {
        margin-top: 20px
    }

    .rememberMe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .forgotPassword {
        justify-content: center;
    }

    .contentContainerButtons Button,
    .formInput Button,
    .formInput input {
        padding: 2px;
        padding-left: 5px;
    }
}